@import "../../../variables.scss";

.privacy-policy-header {
    background-color: $color7;
    padding: 80px 0;
    @media (max-width: 992px) {
        padding: 60px 0;
    }
    &__wrapper {
        text-align: center;
    }

    &__heading {
        @include heading1;
        margin-bottom: 4px;
        @media (max-width: 767px) {
            @include heading2;
        }
    }

    &__text {
        @include body1;
    }
}
