@import "../../../variables.scss";

.category-card {
    padding: 32px;
    background-color: inherit;
    border: 1px solid #6d6e7652;
    transition: all 0.4s;
    @media (min-width: 993px) {
        &:hover {
            background-color: $color2;
        }
    }
    &__icon {
        width: 48px;
        height: 48px;
        margin-bottom: 16px;
    }

    &__heading {
        @include heading3;
        margin-bottom: 4px;
    }

    &__text {
        @include body1;
        color: $color5;
    }
}
